version: '3.7'

services:

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: sastra
    ports:
      - "5432:5432"

  app:
    build: ./
    depends_on:
      - db
    ports:
      - "7000:7000"